<div *ngIf="displayTitle" class="title">
    <h1><strong>maciej</strong>treder</h1>
    
</div>
<!-- *ngIf="!displayTitle || ['speaking', 'writing', 'teaching'].includes((title | async))" -->
<div class="navigation" *ngIf="displayMenu">
    <!-- {{title | async}} -->
    <!-- <h2 [innerHtml]="title | async">{{title | async}}</h2> -->
    <a routerLink="speaking" routerLinkActive="active">speaking</a>
    <a routerLink="writing" routerLinkActive="active">writing</a>
    <a routerLink="teaching" routerLinkActive="active">teaching</a>
</div>