<app-filter [source]="(posts | async)" (filterChange)="listRefined($event)" [selectedTag]="selectedTag$"></app-filter>

<div class="entry" *ngFor="let post of display">
    
        <div class="date">{{post.date | date}} | for {{post.for}}</div>
        <a [href]="post.url" (click)="handleClick(post.url)"><h3>{{post.title}}</h3></a>
        <div class="description" [innerHtml]="post.description"></div>
    
    <div class="keywords">
        <a *ngFor="let keyword of post.keywords" (click)="selectTag(keyword)" routerLink="/speaking" [queryParams]="{hashtags: keyword}">#{{keyword}}</a>
    </div>    
</div>
