<app-filter [source]="(speaches | async)" (filterChange)="listRefined($event)" [selectedTag]="selectedTag$"></app-filter>

<div class="entry" *ngFor="let speach of display">
    <div class="header">
        <h3>{{speach.for}}</h3>
        <h4>{{speach.title}}</h4>
        <span class="date">{{speach.date | date}} | {{speach.place}}</span>
    </div>
    <img src="assets/img/speaking/{{speach.pictureMain}}" />
    <div class="about">
        <div class="description" [innerHtml]="speach.description"></div>
        <a class="slides" [href]="speach.slides" (click)="handleClick(speach.event + ' ' + speach.title + 'slides')">>> see the slides</a>
        <a class="slides" *ngIf="speach.video" [href]="speach.video" (click)="handleClick(speach.event + ' ' + speach.title + 'video')">>> see the talk</a>
        <div class="keywords">
            <a *ngFor="let keyword of speach.keywords" (click)="selectTag(keyword)" routerLink="/speaking" [queryParams]="{hashtags: keyword}">#{{keyword}}</a>
        </div>
    </div>
</div>