img {
    width: 400px;
    box-shadow: 1px 1px 10px #cccccc;
    margin-left: 10px;
}

.entry {
    display: flex;
}
.about {
    padding-top: 0.8em;
}

h4 {
    margin-bottom: 0;
}

a {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    display: block;
}