<div class="entry" *ngFor="let speech of (speeches | async)">
    <!-- <div class="info"> -->
        <div class="header">
            <h3>{{speech.event}}</h3>
            <h4>{{speech.title}}</h4>
            <span class="date">{{speech.date | date}} | {{speech.place}}</span>
        </div>
        <img src="assets/img/speaking/{{speech.pictureMain}}" />
        <div class="about">
            <div class="description" [innerHtml]="speech.description"></div>
            <a class="slides" [href]="speech.slides">>> see the slides</a>
            <a class="slides" [href]="speech.vid">>> see the talk</a>
            <div class="keywords">
                <span *ngFor="let keyword of speech.keywords">#{{keyword}}</span>
            </div>
        </div>
    <!-- </div> -->
</div>