<app-filter [source]="(speeches | async)" (filterChange)="listRefined($event)"></app-filter>

<div class="entry" *ngFor="let speech of display">
    <div class="header">
        <h3>{{speech.for}}</h3>
        <h4>{{speech.title}}</h4>
        <span class="date">{{speech.date | date}} | {{speech.place}}</span>
    </div>
    <img src="assets/img/speaking/{{speech.pictureMain}}" />
    <div class="about">
        <div class="description" [innerHtml]="speech.description"></div>
        <a class="slides" [href]="speech.slides" (click)="handleClick(speech.event + ' ' + speech.title + 'slides')">>> see the slides</a>
        <a class="slides" *ngIf="speech.vid" [href]="speech.vid" (click)="handleClick(speech.event + ' ' + speech.title + 'video')">>> see the talk</a>
        <div class="keywords">
            <span *ngFor="let keyword of speech.keywords">#{{keyword}}</span>
        </div>
    </div>
</div>