
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat-palette($mat-indigo);
$portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-theme);

@import "reset";

html, body {
    height: 100%;
    margin: 0;
    font-weight: 300;
    font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
}

body {
    background: #efefef;
    max-width: 1200px;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
}

body, a {
    color: #777777;
}


a:hover, button:hover {
    color: #111111;
}

a {
    text-decoration: none;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p{
    margin-bottom: 1em;
}

.date {
    font-size: 0.75em;
    margin-bottom: 0.7em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.description {
    margin-bottom: 1em;
    
}

.keywords {
    font-size: 0.9em;

    span + span {
        margin: 0 0 0 5px;
    }
}

.entry + .entry {
    margin-top: 5em;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
