@import "reset";

html, body {
    height: 100%;
    margin: 0;
    font-weight: 300;
    font-family: 'Source Sans Pro', calibri, Arial, sans-serif;
}

body {
    background: #efefef;
    max-width: 1200px;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
}

body, a {
    color: #777777;
}


a:hover, button:hover {
    color: #111111;
}

a {
    text-decoration: none;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p{
    margin-bottom: 1em;
}