@import "reset";
@import "credentials";


html, body {
    height: 100%;
    margin: 0;
    color: #555555;
}

body {
    background: #efefef;
    max-width: 1200px;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
}

*:not(.material-icons) {
    font-weight: 300 !important;
    font-family: 'Source Sans Pro', calibri, Arial, sans-serif !important;
}

a:hover, button:hover {
    text-decoration: none;
}

a {
    color: #aaaaaa;
    text-decoration: underline;
}