:host {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  align-items: center;
  flex-direction:column;
}

.contact-info {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #phone {
    margin-top: -30px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 200px;
  align-items: center;
  padding-top: 20px;

  a {
    width: 100px;
    height: 100px;
    display: block;
    text-decoration: none;
    margin-top: 60px;
  }

  a:hover {
    margin: 0;
    width: 160px;
    height: 160px;
    background-size: 130px;
  }
}

.gitlab {
  background: url('../../assets/img/gitlab.png') no-repeat center;
}

.gitlab:hover {
  background: url('../../assets/img/gitlab_hover.png') no-repeat center;
}

.npm {
  background: url('../../assets/img/npm.png') no-repeat center;
}

.npm:hover {
  background: url('../../assets/img/npm_hover.png') no-repeat center;
}

.skype {
  background: url('../../assets/img/skype.png') no-repeat center;
}

.skype:hover {
  background: url('../../assets/img/skype_hover.png') no-repeat center;
}

.linkedin {
  background: url('../../assets/img/linkedin.png') no-repeat center;
}

.linkedin:hover {
  background: url('../../assets/img/linkedin_hover.png') no-repeat center;
}

.github {
  background: url('../../assets/img/github.png') no-repeat center;
}

.github:hover {
  background: url('../../assets/img/github_hover.png') no-repeat center;
}

.mail {
  background: url('../../assets/img/mail.png') no-repeat center;
}

.mail:hover {
  background: url('../../assets/img/mail_hover.png') no-repeat center;
}

.phone {
  background: url('../../assets/img/phone.png') no-repeat center;
}

.phone:hover {
  background: url('../../assets/img/phone_hover.png') no-repeat center;
}

.twitter {
  background: url('../../assets/img/twitter.png') no-repeat center;
}

.twitter:hover {
  background: url('../../assets/img/twitter_hover.png') no-repeat center;
}

.stackoverflow {
  background: url('../../assets/img/stackoverflow.png') no-repeat center;
}

.stackoverflow:hover {
  background: url('../../assets/img/stackoverflow_hover.png') no-repeat center;
}

@media (max-width: 920px) {
  .gitlab:hover {
    background: url('../../assets/img/gitlab_hover.png') no-repeat center;
  }

  .skype:hover {
    background: url('../../assets/img/skype_hover.png') no-repeat center;
  }

  .linkedin:hover {
    background: url('../../assets/img/linkedin_hover.png') no-repeat center;
  }

  .github:hover {
    background: url('../../assets/img/github_hover.png') no-repeat center;
  }

  .mail:hover {
    background: url('../../assets/img/mail_hover.png') no-repeat center;
  }

  .phone:hover {
    background: url('../../assets/img/phone_hover.png') no-repeat center;
  }

  .twitter:hover {
    background: url('../../assets/img/twitter_hover.png') no-repeat center;
  }

  .stackoverflow:hover {
    background: url('../../assets/img/stackoverflow_hover.png') no-repeat center;
  }

  .npm:hover {
    background: url('../../assets/img/npm_hover.png') no-repeat center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 200px;
    flex-wrap: wrap;

    a {
      margin: 10px;
      width: 100px;
      height: 100px;
      display: block;
      text-decoration: none;
    }

    a:hover {
      margin: 10px;
      width: 100px;
      height: 100px;
    }
  }
}

@media (pointer:coarse) {
  .gitlab {
    background: url('../../assets/img/gitlab_hover.png') no-repeat center !important;
  }

  .skype {
    background: url('../../assets/img/skype_hover.png') no-repeat center !important;
  }

  .linkedin {
    background: url('../../assets/img/linkedin_hover.png') no-repeat center !important;
  }

  .github {
    background: url('../../assets/img/github_hover.png') no-repeat center !important;
  }

  .mail {
    background: url('../../assets/img/mail_hover.png') no-repeat center !important;
  }

  .phone {
    background: url('../../assets/img/phone_hover.png') no-repeat center !important;
  }

  .twitter {
    background: url('../../assets/img/twitter_hover.png') no-repeat center !important;
  }

  .stackoverflow {
    background: url('../../assets/img/stackoverflow_hover.png') no-repeat center !important;
  }
}
